.user-img{
    width: 20%;
    border-radius: 20px;
}
.review-item{
    border: 5px solid LightSteelBlue;
    width: 250px;
    height: 380px;
    padding: 10px;
    border-radius: 10px;
   
}
.review-itemss{
    display: flex;
    justify-content: space-between;
   
}
